/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.journal-card {
    margin: 2em, 0;
}

body {
    background: #f5fcff;
}

.form-container {
    display:flex;
    align-items:flex-start;
}
.form-row {
    width: 50%;
}

.update-form {
    margin: 0.5em;
}

.container {
    display: flex; 
    align-items:flex-start;
}